@import '../sass/fonts.scss';
@import '../sass/variable.scss';
@import '../sass/mixins.scss';
@import '../sass/header.scss';
@import '../sass/features.scss';
@import '../sass/work.scss';
@import '../sass/team.scss';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: $main_size;
  font-family: $font_family;

  @media (max-width: 767px) {
    font-size: $mobile_size;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  z-index: 1;
  position: relative;
}
.wrap {
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
