@import '../sass/fonts.scss';
@import '../sass/variable.scss';
@import '../sass/mixins.scss';
@import '../sass/header.scss';
@import '../sass/features.scss';
@import '../sass/work.scss';
@import '../sass/team.scss';
@import '../sass/slider.scss';
@import '../sass/download.scss';
@import '../sass/footer.scss';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: $main_size;
  font-family: $font_family;
  @media (max-width: 1199px) {
    font-size: $tablet_size;
  }
  @media (max-width: 767px) {
    font-size: $mobile_size;
  }
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  z-index: 1;
  position: relative;
}
.wrap {
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  a {
    font-weight: $_900;
    font-size: $_24;
    line-height: 28px;
    text-transform: uppercase;
    color: $_write;
    padding: 20px 40px;
    background-color: $_red;
    transition: 0.3s;
    text-align: center;

    @media (max-width: 575px) {
      font-size: 20px;
      padding: 15px 20px;
    }

    &:hover {
      background-color: #e71414;
    }
    &:active {
      background-color: #ff4343;
      box-shadow: 4px 4px 30px #ff4343;
    }
  }
}
.social {
  display: flex;
}
.social__icon {
  margin-right: 5px;
  width: 39px;
  height: 39px;
  border: 1px solid $_col_icons;
  &:last-child {
    margin-right: 0;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    i {
      font-size: 19px;
      color: $_col_icons;
    }
  }
}
