#team {
  padding: 114px 0;
  @media (max-width: 1199px) {
    padding: 78px 0;
  }
}
.team__wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -15px -60px;
}
.team__card {
  width: 20%;
  @media (max-width: 992px) {
    width: 35%;
  }
  @media (max-width: 767px) {
    width: 40%;
  }
  @media (max-width: 420px) {
    width: auto;
  }
  margin: 0 15px 60px;
  display: flex;
  flex-direction: column;
}

.team__image {
  position: relative;
  padding: 0 0 90% 0;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
  }
}
.team__name {
  font-weight: $_700;
  font-size: $_24;
  line-height: 28px;
  text-transform: capitalize;
  color: $_black-gray;
  margin-bottom: 5px;
}
.team__post {
  margin-bottom: 18px;
  span {
    font-weight: $_400;
    font-size: $_18;
    line-height: 21px;
    text-transform: uppercase;
    color: $_red;
  }
}
.team__text {
  margin-bottom: 37px;
  flex-grow: 1;

  p {
    font-weight: $_400;
    font-size: $_18;
    line-height: 21px;
    color: $_gray;
  }
}

.fa-brands {
}
.fa-facebook-f {
}
.fa-twitter {
}
.fa-linkedin {
}
