$_64: 4rem;
$_36: 2.25rem;
$_30: 1.875rem;
$_24: 1.5rem;
$_18: 1.125rem;
$_13: 0.8125rem;

$main_size: 16px;
$mobile_size: 14px;

$_900: 900;
$_700: 700;
$_400: 400;
$_500: 500;

$_write: #fff;
$_black: #000;
$_black-gray: #2d3033;
$_gray: #6c7279;
$_red: #ff4343;
$_col_icons: #c6cbcd;

$font_family: 'Raleway', sans-serif;
